@import "tailwindcss";

:root {
  --background: #f3f6fa;
  --foreground: #10294c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    var(--font-geist-sans), "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
}
